/*
 * Kenny "Ackerson" Le
 * CSE 154 AF, Winter 2022
 * TA: Ludvig Liljenberg, Marina Wooden
 * 2/26/22
 * Creative Project #3
 * Description: Stylesheet for amiibo searcher. Style is simplistic
 * white background with gray cards for amiibo information
 */

body {
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
  font-size: 21px;
  align-items: center;
  margin: 0;
}

body,
.vertical-alignment {
  flex-flow: column nowrap;
}

body,
.vertical-alignment,
.horizontal-alignment{
  display: flex;
  justify-content: center;
}

input {
  padding: 18px 14px;
  background: none;
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid gray;
}

input:focus {
  outline: 0 none;
  box-shadow: 0 0 5px #36454F;
}

button {
  padding: 14px;
}

.horizontal-alignment {
  flex-flow: row nowrap;
}

#amiibo {
  padding-top: 3rem;
}

.card {
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 20px;
  margin: 0 20px;
  overflow: auto;
}

.card img {
  padding-right: 50px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  font-weight: 700;
}

#warning {
  display: none;
}

#warning p {
  color: red;
  text-align: center;
}

#warning.active {
  display: block;
}